<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="user">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        
    </div>
    <search></search>
    <div class="navbar-nav">
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav>
<div class="welcome-message">
    <div class="nav-item nav-link">Welcome {{username}}</div>
</div>

<!-- main app container -->
<div class="app-container">
    <alert></alert>
    <router-outlet></router-outlet>
</div>
